---
apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - name: kube-vip
    args:
    - manager
    - --leaderElectionType=etcd
    - --etcdCACert=/etc/kubernetes/pki/etcd/ca.crt
    - --etcdCert=/etc/kubernetes/pki/etcd/server.crt
    - --etcdKey=/etc/kubernetes/pki/etcd/server.key
    - --etcdEndpoints=127.0.0.1:2379
    env:
    - name: vip_arp
      value: "true"
    - name: vip_interface
      value: eth0
    - name: vip_leaderelection
      value: "true"
    - name: address
      value: "{{ .ControlPlaneVIP }}"
    - name: vip_leaseduration
      value: "2"
    - name: vip_renewdeadline
      value: "3"
    - name: vip_retryperiod
      value: "1"
    - name: cp_enable
      value: "true"
    - name: vip_loglevel
      value: "5"
    image: "{{ .ImagePath }}"
    imagePullPolicy: Never
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
    volumeMounts:
    # force kube-vip to use CP ip from admin.conf instead of localhost
    - mountPath: /etc/kubernetes/pki/etcd
      name: etcd-certs
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/pki/etcd
    name: etcd-certs
