---
apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
  labels:
    app: kube-vip
spec:
  containers:
  - name: kube-vip
    args:
    - manager
    - --prometheusHTTPServer
    - ""
    env:
    - name: vip_loglevel
      value: "-4"
    - name: vip_arp
      value: "true"
    - name: vip_interface
      value: eth0
    - name: vip_leaderelection
      value: "true"
    - name: address
      value: "{{ .ControlPlaneVIP }}"
    - name: vip_leaseduration
      value: "5"
    - name: vip_renewdeadline
      value: "3"
    - name: vip_retryperiod
      value: "1"
    - name: cp_enable
      value: "true"
    - name: vip_nodename
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: svc_enable
      value: "{{ .SvcEnable }}"
    - name: svc_election
      value: "{{ .SvcElectionEnable }}"
    - name: enable_endpointslices
      value: "{{ .EnableEndpointslices }}"
    image: "{{ .ImagePath }}"
    imagePullPolicy: Never
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
  hostAliases:
    - hostnames:
      - kubernetes
      ip: 127.0.0.1
  hostNetwork: true
  volumes:
  - hostPath:
      path: "{{ .ConfigPath }}"
    name: kubeconfig
