name: Publish Releases to Docker Hub and GitHub Container Registry

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push main branch
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: ${{ github.event_name != 'pull_request' }}
          tags: >-
            plndr/kube-vip:${{ github.ref_name }},
            plndr/kube-vip:latest,
            ghcr.io/kube-vip/kube-vip:${{ github.ref_name }},
            ghcr.io/kube-vip/kube-vip:latest
      - name: Build iptables version and push main branch
        id: docker_build_iptables
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile_iptables
          platforms: linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: ${{ github.event_name != 'pull_request' }}
          tags: >-
            plndr/kube-vip-iptables:${{ github.ref_name }},
            plndr/kube-vip-iptables:latest,
            ghcr.io/kube-vip/kube-vip-iptables:${{ github.ref_name }},
            ghcr.io/kube-vip/kube-vip-iptables:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
